body{
    font-family: arial;
}

table{
    border: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

#cenario{
    float: left; 
    width: 600px; 
    height: 502px; 
    text-align:center;
    filter: saturate(1.2);
    background-position: bottom;
    background: url('../img/cenario.png'); }

#baloes_inteiros, #baloes_estourados{
    font-size: 40px;
}

#container_jogo{
    float:left; 
    width:auto; 
    height:500px; 
    margin-right: 5px;
    background: #FFF; 
    border: solid 1px #A2A2A2; 
}

#selecionar_nivel{
    width: 640px;
    margin: 30px auto;
    text-align: center;
    border-radius: 20px;
    border: black solid 1px;
}

#selecionar_nivel p{
    margin-top: 20px;
}

.container_game{
    width: 750px;
    height: 502px;
    margin: 60px auto;
}

.table_cronometro{
    width: 140px; 
    height: 132px;
}

.table_cronometro td{
    text-align:center;
    background: url('../img/cronometro.png'); 
}

.table_cronometro span{
    color: red; 
    font-size: 30px;
}

.table_botao{
    margin: 45px auto;  
}

.botao{
    padding: 8px;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    border: black solid 1px;
    background-color: darkorange;
}

.botao:hover{
    color: white;
    background-color: orangered;
}

.img_inicio{
    height: 330px;
}

.banner{
    width: 600px;   
}