div{
    margin: 30px;
}

form{
    width: 180px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    border: black solid 1px;
    background-color: rgb(240, 240, 240);
}

input{
    margin-bottom: 20px;
}


